body{
  background: #232323;
  margin: 0;
  font-family:"Montserrat", Avenir, sans-serif;
  font-weight: normal;
}
.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.5s;
  --webkit-transition: background 0.5s;
  --moz-transition: background 0.5s;
}
#container{
  max-width: 600px;
  margin: 20px auto;
}
h1{
  color: white;
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}
#colorDisplay{
  font-size: 200%;

}
#stripe{
  background: white;
  height:30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}
button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  color: steelblue;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  outline: none;
  transition: all 0.3s;
  --webkit-transition: all 0.3s;
  --moz-transition: all 0.3s;
}
button:hover{
  color: white;
  background: steelblue;
}
#message{
  display: inline-block;
  width: 20%;
}
